#reader1 {
    background-color: gray;
    text-align: center;
    color: white;
    border: 4px solid black;
}

#navLinks {
    background-color: rgb(224, 224, 224);
    border: 4px solid black;
    padding: 1px;
}

#navLinks li {
    display: inline-block;
    width: 24%;
    text-align: center;

}

#fotoPrincipal {
    background-image: url("images/enioMineirao.jpg");
    background-position: 50% 25%;
    background-size: cover;
    color: white;
    font-size: 40px;
    padding: 600px 30px 40px;
    border: 4px solid black;
    
}